p {
    padding: 4mm;
    border-radius: 10px;
    border: 2px solid darkblue;
}

span {
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    float: left;
    background-color: orange;
    position: relative;
}